# Configuration options for WifiManager

menu "WifiManager Configuration"
		menu "Wifi Task Configuration" # Submenu for Wifi Task Configuration

			config WIFI_APP_TASK_PRIORITY
				int "Task Priority"
				default 5
				range 2 6
				help
					Enter the priority for the WifiManager task. Real priority will be 1 less than the value entered.

			config WIFI_APP_TASK_STACK_SIZE
				int "Task Stack Size"
				default 4096
				help
					Enter the stack size for the Wifi Task.

			config WIFI_APP_CORE_ID
				int "Task Core ID"
				default 0
				range 0 1
				help
					Enter the core ID for the Wifi Task.
		endmenu

		menu "HTTP Server Task Configuration" # Submenu for HTTP Server Task Configuration

			config HTTP_SERVER_TASK_PRIORITY
				int "Task Priority"
				default 4
				range 2 6
				help
					Enter the priority for the HTTP Server task. Real priority will be 1 less than the value entered.

			config HTTP_SERVER_TASK_STACK_SIZE
				int "Task Stack Size"
				default 8192
				help
					Enter the stack size for the HTTP Server Task.

			config HTTP_SERVER_CORE_ID
				int "Task Core ID"
				default 0
				range 0 1
				help
					Enter the core ID for the HTTP Server Task.

			config HTTP_SERVER_MONITOR_TASK_PRIORITY
				int "Monitor Task Priority"
				default 3
				range 2 6
				help
					Enter the priority for the HTTP Server Monitor task. Real priority will be 1 less than the value entered.

			config HTTP_SERVER_MONITOR_TASK_STACK_SIZE
				int "Monitor Task Stack Size"
				default 4096
				help
					Enter the stack size for the HTTP Server Monitor Task.

			config HTTP_SERVER_MONITOR_CORE_ID
				int "Monitor Task Core ID"
				default 0
				range 0 1
				help
					Enter the core ID for the HTTP Server Monitor Task.
		endmenu # End of HTTP Server Task Configuration

	menu "AP Configuration"

		config WIFI_AP_SSID
			string "SSID for AP"
			default "ESP32_WM_AP"
			range 5 32
			help
				Enter the SSID for the access point.

		config WIFI_AP_PASS
			string "Password for AP"
			default "ESP1234!"
			range 8 64
			help
				Enter the password for the access point.

		config WIFI_AP_CHANNEL
			int "Channel for AP"
			default 1
			range 1 13
			help
				Enter the channel for the access point.

		config WIFI_AP_MAX_CONNECTIONS
			int "Max Connections for AP"
			default 4
			range 1 8
			help
				Enter the maximum number of connections for the access point.

		config WIFI_AP_SSID_HIDDEN
			int "Hidden SSID"
			default 0
			range 0 1
			help
				Enable to hide the SSID of the access point.

		config WIFI_AP_BEACON_INTERVAL
			int "Beacon Interval"
			default 100
			range 100 60000
			help
				Enter the beacon interval for the access point.

		config WIFI_AP_IP_ADDR
			string "IP Address for AP"
			default "192.168.0.24"
			help
				Enter the IP address for the access point.

		config WIFI_AP_IP_GATEWAY
			string "Gateway for AP"
			default "192.168.0.24"
			help
				Enter the gateway for the access point.

		config WIFI_AP_IP_NETMASK
			string "Netmask for AP"
			default "255.255.255.0"
			help
				Enter the netmask for the access point.

		#!TODO: Add DNS Server Configuration
	endmenu # End of AP Configuration

	menu "Wifi Configuration"

		config WIFI_BANDWIDTH
			int "Bandwidth"
			default 1
			range 1 2
			help
				Enter the bandwidth for the access point.

		config WIFI_STA_POWER_SAVE #!TODO: Make it choice with proper names
			int "Power Save"
			default 0
			range 0 2 # 0: Disable, 1: Minimum, 2: Maximum
			help
				Enable to enable power save mode for the station.

		config MAX_SSID_LENGTH
			int "Max SSID Length"
			default 32
			range 5 32
			help
				Enter the maximum length of the SSID.

		config MAX_PASSWORD_LENGTH
			int "Max Password Length"
			default 64
			range 8 64
			help
				Enter the maximum length of the password.

		config MAX_CONNECTION_RETRIES
			int "Max Connection Retries"
			default 5
			range 1 10
			help
				Enter the maximum number of connection retries.

		config MAX_SCAN_LIST_SIZE
			int "Max Scan List Size"
			default 10
			range 3 20
			help
				Enter the maximum size of the scan list.
	endmenu # End of Wifi Configuration

	menu "Wifi Scan Configration"

		config WIFI_SCAN_LIST_SIZE
			int "Scan List Size"
			default 13
			range 3 20
			help
				Enter the size of the scan list.

		config WIFI_SCAN_SSID
			string "SSID to Scan"
			default NULL
			range 0 32
			help
				Enter the SSID to scan.

		config WIFI_SCAN_BSSID
			string "BSSID to Scan"
			default NULL
			range 0 32
			help
				Enter the BSSID to scan.

		config WIFI_SCAN_CHANNEL
			int "Channel to Scan"
			default 0
			range 0 13
			help
				Enter the channel to scan.
		
		config WIFI_SCAN_SHOW_HIDDEN
			int "Hidden SSID"
			default 0
			range 0 1
			help
				Enable to scan hidden SSID.

		config WIFI_SCAN_TYPE
			int "Scan Type"
			default 0
			range 0 1
			help
				Enter the scan type.
				0: Passive Scan
				1: Active Scan

		config WIFI_SCAN_TIME_MIN
			int "Minimum Scan Time"
			default 0
			range 0 1000
			help
				Enter the minimum scan time.
		
		config WIFI_SCAN_TIME_MAX
			int "Maximum Scan Time"
			default 0
			range 0 1000
			help
				Enter the maximum scan time.
	endmenu # End of Wifi Scan Configuration
endmenu	# End of WifiManager Configuration
