html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

footer {
    margin-top: calc(5% + 60px); /* Add margin-top property */
}
  

h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.7em;
    color: #1d3557;
}

h2 {
    font-size: 1.4em;
    color: #1d3557;
}

h3 {
    font-size: 1.2em;
    color: #1d3557;
}

h4 {
    font-size: 1em;
    color: #1d3557;
}

.gr {
    color: #1d3557;
}

.rd {
    color: #ff0000;
}

.buttons {
    padding: 20px;
}


input[type="button"] {
    font-size: 12px;
    border: 0;
    line-height: 2;
    padding: 0 5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(106, 125, 144, 0.35);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: rgba(112, 164, 222, 0.68);
}

input[type="button"]:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}





