<!DOCTYPE html>
<html>
	
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<script src='jquery-3.3.1.min.js'></script>
	<link rel="stylesheet" href="password.css">
	<script async src="password.js"></script>
	<title>Wifi Scan </title>
</head>
<body>
	<div class="app">
		<div class="Header">
			<h1>Connect To Network</h1>
			<div class="inline_header">
				<h4>Please write password of network below here. </h4>
				<button id="set_btn">Go Back</button>
			</div>
		</div>
		<div class="PasswordEntry">
			<section>
				<input id="connect_password" type="password" maxlength="64" placeholder="Password" />
				<input type="checkbox" id="show_password" onclick="showPassword()"> Show Password
			</section>
		</section>
		<div class="buttons">
			<input id="connect_wifi" type="button" value="Connect" />
		</div>
		<div id="Connect_Credentials_Errors"></div>
		<h4 id="wifi_connect_status"></h4>
</div>
		</div> 
	</div>
</body>

</html>